<div> 
    <% @location.each do |location| %>
    <div>
    <% if !location.profile_id.nil?%>
        Name: <%=link_to  location.profile.full_name_to_csv, profile_path(location.profile.user)%>
        <p>Suburb: <%= location.suburb %></p>
        <p>State: <%= location.state %></p>
        <%= link_to 'Invite',  user_groups_path(user_id: location.profile.user.id, group_id: params[:id], player_approval: false, approved: true), method: :post %>
    </div>
    <% end %>
    <% if !@location.present? %>
        <div>No Players Match that Criteria</div>
    <%end %>
</div>