<h1>Find</h1>
<%  if !@locations.nil? %>
<% @locations.each do |location| %>
    <% if !location.group_id.nil? %>
        <p><%= link_to location.group.name, group_path(location.group.id) %></p>
    <p>Number of Members: <%= location.group.approved_users.count %>
    <%# <p><%= link_to 'Join', user_add_to_group_path , method: :post, onclick:  %></p>
    <% end %>
<% end %>
<% end%>
<% if !@locations.present?%>
    No Groups match that criteria
<% end %>