<% if !@location.present? %>
        <div>No Groups Match that Criteria</div>
        <% else %>
        <div class='find_main_card'>
            <% @location.each do |location| %>
            <% if location.group.present? %>
                <div class='find_entry_card'>
                    <h1><%= link_to location.group.name, group_path(location.group.id) %></h1>
                    <p>Number of Members: <%= location.group.approved_users.count %></p>
                    <%# <p><%= link_to 'Join', user_add_to_group_path , method: :post %>
                </div>
                    <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
<div> 