<h1><%= @group.name%></h1>

<h2>Members</h2>
<% @group.approved_users.each do |user| %>
<%= user.email%>
<% end %>



<%= form_with model: @request_to_join do |f| %>
<% f.text_field :user_id, value: current_user.id %>
<% f.number_field :group_id, value: session[:current_group] %>
<%= f.submit 'Join' %>
<% end %>