<h1><%= @group.name%></h1>

<h2>Members</h2>
<% @group.users.each do |member| %>
<p><%= member.email %></p>
<% end %>


<%= form_with model: @request_to_join do |f| %>
<% f.text_field :user_id, value: current_user.email %>
<%= f.submit 'Join' %>
<% end %>