// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.show_profile_page{
  display: flex;
  flex-wrap: wrap;
  div{
      border: 2px solid black;
  }
}
.profile_card{
    background-color: whitesmoke;
    height: 250px;
    // border: black solid 2px;
    border-radius: 15px;
}
.character_card{
    background-color: whitesmoke;
    border-radius: 15px;
    margin-top: 10px; 
    // border: 2px solid black
}
.group_card{
    background-color: lightcoral;
    width: 50%; 
}
.game_card{
    background-color: lightgray;
    width: 50%; 
}
.invite_card{
    width: 25%;
}
.request_card{
    width: 25%;
} 
.container{
    // background-color: rgba(245, 245, 245, 0.877);
    border-radius: 15px;
}

.container-sm{
    height: 150px;
    overflow:scroll;
}
.character_scroll{
    width: 30%;
    background-color: rgb(189, 186, 186);
    // border: black 2px solid;
    border-radius: 25px;
    margin: 5px;
}
.row{
    flex-wrap: wrap;
}
.col{
}

.find_card{
    background-color: whitesmoke;
    height: 250px;
    // border: black solid 2px;
    border-radius: 15px;
}
.group_cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.group_scroll{
    width: 33%;
}
.character-name{
    text-align:center;
    font-size: 3vw;
}
.games_card{
    display: flex;
}
.game-group{
    // background-color: ÷;
}