<div class='title'>
<h1> Groups:</h1>
<h1> Players: </h1>
</div>
<div class='search_card'>
    <div class='column'>
<% @locations.each do |location| %>
    <% if !location.group_id.nil? %>
    <div class='search_card_item'>
        <%= link_to location.group.name, group_path(location.group.id) if location.group.present?%>
    </div>
    <br>
    <% end %>
<% end %>
</div>
    <div class='column'>
    <% @locations.each do |location| %>
        <% if !location.profile_id.nil?%>
            <div class="search_card_item">
                <%= link_to location.profile.full_name_to_csv, profile_path(location.profile.id) if location.profile.present? %>
            </div>
            <br>
        <% end %>
        <% end %>
    </div>
</div>
<% if !@locations.present? %>
    There are no matches to this post code
<% end %>
</div>